@import "tailwindcss";

@theme {
  --color-logo: #0c0c0c;
  --color-badge: #102a63;

  /* btns colors */
  --color-primaryCta: #e67e00;
  --color-secondaryCta: #2563eb;
  --color-whatsapp: #1ebe5a;
  --color-categoryBtn: #25479d;
}

.btn-ani {
  @apply hover:scale-105 duration-300 transform transition-all ease-out cursor-pointer;
}

.section-padding {
  @apply py-10 lg:py-16;
}

.section-padding-top {
  @apply pt-10 lg:pt-16;
}
